<% if request.env['PATH_INFO'] != "/" && request.env['PATH_INFO'] != "/home" && request.env['PATH_INFO'] != "/theme" && request.env['PATH_INFO'] != "/" && request.env['PATH_INFO'] != "/users/sign_in" %>
  <div class="navbar-wagon" style="background: #3A475B;">
    <!-- Logo -->
    <%= link_to home_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo-background.png", size: "117x42" %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <% if user_signed_in? %>

        <!-- Links when logged in -->
        <%= link_to "All orders", order_all_url, method: :get, class: "navbar-wagon-item navbar-wagon-link" %>

        <%= link_to order_show_url(current_user.cart.id), method: :get, class: "navbar-wagon-item navbar-wagon-link" do %>
          <%= image_tag "shoppingbag.png", size: "62x30" %>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>

      <% else %>
        <!-- Login link (when logged out) -->

      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div> -->
  </div>
<% else %>
  <div class="navbar-wagon">
      <!-- Logo -->
      <%= link_to home_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo-background.png", size: "117x40" %>
      <% end %>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <% if user_signed_in? %>

          <!-- Links when logged in -->
          <%= link_to order_show_url(current_user.cart.id), method: :get, class: "navbar-wagon-item navbar-wagon-link" do %>
            <%= image_tag "shoppingbag.png", size: "62x30" %>
          <% end %>

          <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>

        <% else %>
          <!-- Login link (when logged out) -->


        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
          Login
        </button>

        <% end %>
      </div>

      <!-- Dropdown list appearing on mobile only -->
      <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Some mobile link</a></li>
            <li><a href="#">Other one</a></li>
            <li><a href="#">Other one</a></li>
          </ul>
        </div>
      </div> -->
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" style="display: flex !important; justify-content: center; width: 70vw !important;">
            <div class="modal-content" style="border-radius: 0em !important; flex-direction: row; width: 70vw !important;">
              <div class="modal-img">

              </div>
                <div class="form" style="width: 100%;">
                <div class="sign-in-form">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-inputs">
                      <%= f.input :email,
                                  required: false,
                                  autofocus: true,
                                  input_html: { autocomplete: "email" } %>
                      <%= f.input :password,
                                  required: false,
                                  input_html: { autocomplete: "current-password" } %>
                      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit, "Log in", class: "btn btn-primary" %>
                    </div>
                    <% end %>
                  <div class="sign-up-btn" onClick="toggleForm()">Sign Up</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  </div>
                </div>
              <div class="sign-up-form hide">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <div class="modal-body">
                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                      <%= f.input :email,
                                  required: true,
                                  autofocus: true ,
                                  input_html: { autocomplete: "email" }%>
                      <%= f.input :password,
                                  required: true,
                                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                  input_html: { autocomplete: "new-password" } %>
                      <%= f.input :password_confirmation,
                                  required: true,
                                  input_html: { autocomplete: "new-password" } %>
                      <%= f.input :address,
                                  required: true,
                                  input_html: { autocomplete: "address" } %>
                    </div>

                    <div class="form-actions">
                      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                  <div class="sign-in-btn"  onClick="toggleForm()">Sign In</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>

              </div>
              <%# render "devise/shared/links" %>
              </div>
            </div>

            </div>
          </div>
        </div>
<% end %>




