<%= render 'shared/modal' %>

<% if user_signed_in? %>
  <div class="landing-banner" style="background-image: linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.05)), url('<%= image_path 'Landing7.jpg' %>');">
    <div class="landing-banner-gradient">
    </div>
    <div class="landing-banner-content">
      <h1>Get Fitted</h1>
      <h2>outfit matching made easy</h2>
      <br>
      <br>
      <br>
      <span class="button button-blue button-shadow" data-toggle="modal" data-target="#Preferences" style="cursor: pointer;">
            Start
      </span>
      <!-- <%= link_to "Get Fitted", home_path, class: "btn-beige" %> -->
    </div>
  </div>


<%= form_tag set_preferences_path(current_user.id), method: "patch" do %>
  <div class="modal fade" id="Preferences" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="text-align: center; display: flex !important; justify-content: center; width: 70vw !important;">
      <div class="modal-content" style="border-radius: 0em !important; display: flex; flex-direction: row; width: 50vw !important; height: 60vh; margin-top: 15vh;">
        <div class="modal-img" style="flex: 1 1 50%;">
        </div>
          <div class="form" style="width: 100%; flex: 1 1 50%;">
<!--             <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Color Preferences</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div> -->

            <div class="modal-body">
                <div class="form-inputs" id="color-form">

                  <h4>Choose your color preference</h4>
                  <br>
                  <% @colors.each.with_index  do |color, index| %>
                    <div class="color-button btn btn-primary <%= color %>" style="border-color: <%= color %> !important; background-color: <%= color %> !important; margin: 2vh !important; width: 3vh !important; height: 3vh !important; border-radius: 0px !important;" value=<%= color %>></div>
                    <% if (index + 1) % 4 == 0 && (index + 1) != 0 %>
                      <br>
                    <% end %>
                  <% end %>
                  <br>
                <div class="form-inputs">
                  <%= hidden_field_tag :color_preference %>
                  <br>
                  <br>

                </div>
                <div class="form-actions">
                  <div class="button button-blue" style="border-radius: 0px !important; width: 50%; margin: 0 auto; " id="continue">Continue</div>
                </div>
                <br>
                <br>

              </div>
              <div class="body-type-form hide" id="body-type-form">
                <h4> Which body type best describes you?</h4>
                <br>
                <br>
                <div class="body-type-select-container">
                  <div>
                    <div class="body-type-select large" id="large" style="background-image: url('<%= image_path 'large.jpg' %>');">
                    </div>
                    <div class="body-type-select-label">
                      Large
                    </div>
                  </div>
                  <div>
                    <div class="body-type-select regular" id="regular" style="background-image: url('<%= image_path 'regular.jpg' %>');">
                    </div>
                    <div class="body-type-select-label">
                      Regular
                    </div>
                  </div>
                  <div>
                    <div class="body-type-select slim" id="slim" style="background-image: url('<%= image_path 'slim.jpg' %>');">
                    </div>
                    <div class="body-type-select-label">
                      Slim
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <%= hidden_field_tag :body_type %>
                  <%= submit_tag "continue", class: "button button-blue" %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% else %>
  <div class="landing-banner" style="background-image: url('<%= image_path 'landing4.jpg' %>');">
    <div class="landing-banner-gradient">
    </div>
    <div class="landing-banner-content">
      <h1>Buy our stuff</h1>
      <h2>Our stuff is awesome</h2>
      <br>
      <br>
      <br>
      <%= link_to "Get Fitted", home_path, class: "button button-blue" %>
    </div>
  </div>

<% end %>


<!--  -->
