<% if @theme == "casual" %>
  <div class="row">
      <div class="col-md-4" style="text-align: center; padding: 0;">
        <%= link_to outfits_url(:theme => "weekend chill"), method: :get do %>
          <div class="home-card home-card-formal" id="weekend-chill">
            <div class="home-card-gradient">
              <p>Weekend Chill</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4" style="text-align: center; padding: 0;">
        <%= link_to outfits_url(:theme => "Date Night"), method: :get do %>
          <div class="home-card home-card-formal" style="background-image: url('<%= image_path 'date_casual.jpg' %>');">
            <div class="home-card-gradient">
              <p>Date Night</p>
            </div>
          </div>
        <% end %>
      </div>
       <div class="col-md-4" style="text-align: center; padding: 0;">
        <%= link_to outfits_url(:theme => "business casual"), method: :get do %>
          <div class="home-card home-card-formal" style="background-image: url('<%= image_path 'business casual copy.jpg' %>');">
            <div class="home-card-gradient">
              <p>Business Casual</p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <!-- <h1>Formal</h1>
  <h2><%= link_to "Theme 1", outfits_url(:theme => "1"), method: :get %></h2>
  <h2><%= link_to "Theme 2", outfits_url(:theme => "2"), method: :get %></h2>
  <h2><%= link_to "Theme 3", outfits_url(:theme => "3"), method: :get %></h2> -->
<% else %>
  <div class="row">
      <div class="col-md-4" style="text-align: center; padding: 0;">
        <%= link_to outfits_url(:theme => "wedding"), method: :get do %>
          <div class="home-card home-card-formal" style="background-image: url('<%= image_path 'Formal_Test.jpg' %>');">
            <div class="home-card-gradient">
              <p>Wedding</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4" style="text-align: center; padding: 0;">
        <%= link_to outfits_url(:theme => "business formal"), method: :get do %>
          <div class="home-card home-card-formal" style="background-image: url('<%= image_path 'formal.jpg' %>');">
            <div class="home-card-gradient">
              <p>Business Formal</p>
            </div>
          </div>
        <% end %>
      </div>
       <div class="col-md-4" style="text-align: center; padding: 0;">
        <%= link_to outfits_url(:theme => "formal date"), method: :get do %>
          <div class="home-card home-card-formal" style="background-image: url('<%= image_path 'formal.jpg' %>');">
            <div class="home-card-gradient">
              <p>Formal Date</p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <!-- <h2><%= link_to "Theme 4", outfits_url(:theme => "4"), method: :get %></h2>
  <h2><%= link_to "Casual outing", outfits_url(:theme => "casual outing"), method: :get %></h2>
  <h2><%= link_to "Theme 6", outfits_url(:theme => "6"), method: :get %></h2> -->
<% end %>
