<% if @theme == "formal" %>
  <h1>Formal</h1>
  <h2><%= link_to "Theme 1", outfits_url(:theme => "1"), method: :get %></h2>
  <h2><%= link_to "Theme 2", outfits_url(:theme => "2"), method: :get %></h2>
  <h2><%= link_to "Theme 3", outfits_url(:theme => "3"), method: :get %></h2>
<% else %>
  <h1>Casual</h1>
  <h2><%= link_to "Theme 4", outfits_url(:theme => "4"), method: :get %></h2>
  <h2><%= link_to "Casual outing", outfits_url(:theme => "casual outing"), method: :get %></h2>
  <h2><%= link_to "Theme 6", outfits_url(:theme => "6"), method: :get %></h2>
<% end %>
